.button {
  box-sizing: border-box;

  display: inline-block;

  font-family: $font-secondary;
  text-transform: uppercase;
  text-align: center;

  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.button--primary {
  color: $text-color-accent;
  background-color: $button-bg-color-primary;

  &:hover,
  &:focus {
    background-color: $basic-green-2;
  }

  &:active {
    background-color: $basic-green-2;
    color: rgba($text-color-accent, 0.3);
  }
}

.button--secondary {
  color: $special-dark-grey;
  background-color: $button-bg-color-secondary;

  &:hover,
  &:focus,
  &:active {
    background-color: $special-grey-2;
  }
}

.button--size-s {
  padding: 10px 15px;

  font-size: 16px;
  line-height: 125%;
}

.button--size-m {
  padding: 15px;

  font-size: 20px;
  line-height: 130%;
}
