.card-preview {
  display: grid;
  grid-template-columns: repeat(2, calc(100% / 2));
  grid-template-areas:
    "image  info"
    "button button";

  row-gap: 17px;

  padding-top: 20px;
  padding-bottom: 24px;

  @media (min-width: $tablet-width) {
    grid-template: "image" 210px "info" 1fr "button" auto / 1fr;
    row-gap: 20px;

    padding: 0 37px 40px;

    background-image: linear-gradient(to bottom, $bg-basic-1, $bg-basic-1 71px, $bg-basic-2 71px);
  }

  @media (min-width: $desktop-width) {
    row-gap: 10px;

    padding-left: 38px;
    padding-right: 38px;
  }
}

.card-preview__info {
  grid-area: info;

  padding-top: 2px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-rows: 1fr auto;
    gap: 18px;

    margin-bottom: 12px;
  }

  @media (min-width: $desktop-width) {
    gap: 0;

    margin-bottom: 22px;
  }
}

.card-preview__info-link {
  text-decoration: none;
  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.card-preview__title {
  margin: 0;
  margin-bottom: 14px;
  margin-right: 64px;

  font-family: $font-secondary;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  text-transform: uppercase;
  color: $text-color-special-2;

  @media (min-width: $tablet-width) {
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 0;

    font-size: 20px;
    line-height: 120%;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 23px;
    margin-left: 13px;
    margin-right: 13px;
  }
}

.card-preview__link {
  grid-area: image;

  height: 107px;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $tablet-width) {
    justify-self: center;
    width: 200px;
    height: 210px;
  }

  @media (min-width: $desktop-width) {
    width: 169px;
  }
}

.card-preview__link picture {
  flex-shrink: 0;
}

.card-preview__image {
  display: block;
  max-width: 100%;
}

.card-preview__button {
  grid-area: button;

  @media (min-width: $tablet-width) {
    align-self: end;
  }
}
