.catalog__wrapper {
  box-sizing: border-box;

  width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;

  outline: 1px solid #0000ff;
}

.catalog__list {
  margin: 0;
  padding: 0;

  list-style: none;
}
