.catalog__list {
  margin: 0;
  padding: 0;

  list-style: none;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    row-gap: 70px;
  }

  @media (min-width: $desktop-width) {
    gap: 73px 80px;
  }
}

.catalog__item {
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    display: flex;

    width: 324px;

    &--empty {
      margin-top: 72px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 245px;
  }
}

.catalog__line {
  @media (min-width: $tablet-width) {
    display: none;
  }
}
