.contacts {
  position: relative;

  &--theme-special {
    background-color: $bg-basic-2;

    @media (min-width: $desktop-width) {
      background: none;
    }
  }
}

.contacts__wrapper {
  @media (min-width: $desktop-width) {
    padding-top: 95px;
    padding-bottom: 106px;
  }
}

.contacts__content {
  display: grid;
  grid-template-columns: calc(100% / 2 - 15px) calc(100% / 2);
  gap: 15px;
  padding-top: 26px;
  padding-bottom: 26px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 163px 157px;
    justify-content: space-between;

    padding: 60px 40px;
  }

  @media (min-width: $desktop-width) {
    box-sizing: border-box;

    position: relative;
    z-index: 1;

    width: 565px;
    padding-left: 80px;
    padding-right: 78px;

    background-color: #ffffff;
  }
}

.contacts__text {
  margin: 0;

  font-family: $font-secondary;
  font-size: 16px;
  line-height: 125%;
  text-transform: uppercase;
  color: $text-color-special-3;

  @media (min-width: $tablet-width) {
    padding-top: 1px;

    font-size: 20px;
    line-height: 130%;
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
  }
}

.contacts__address {
  font-style: normal;
  line-height: 143%;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    gap: 20px;

    font-size: 16px;
    line-height: 125%;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.contacts__map {
  min-width: 320px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $tablet-width) {
    min-width: $tablet-width;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    min-width: $desktop-width;
  }
}

.contacts iframe {
  display: block;

  width: 100%;
  min-width: 320px;
  height: 362px;
  border: none;

  @media (min-width: $tablet-width) {
    min-width: $tablet-width;
    height: 401px;
  }

  @media (min-width: $desktop-width) {
    min-width: $desktop-width;
  }
}

.contacts__map-image {
  display: block;
}
