.contacts__text {
  margin: 0;

  font-family: $font-secondary;
  font-size: 16px;
  line-height: 125%;
  text-transform: uppercase;
  color: $text-color-base-special;
}

.contacts__address {
  font-style: normal;
  line-height: 143%;
}
