.contacts {
  position: relative;
}

.contacts__wrapper {
  box-sizing: border-box;

  width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;

  outline: 1px solid #0000ff;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
    padding-top: 95px;
    padding-bottom: 106px;
  }
}

.contacts__content {
  display: grid;
  grid-template-columns: repeat(2, calc(100% / 2));
  padding-top: 26px;
  padding-bottom: 26px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 163px 157px;
    justify-content: space-between;

    padding: 60px 40px;
  }

  @media (min-width: $desktop-width) {
    box-sizing: border-box;

    position: relative;
    z-index: 1;

    width: 565px;
    padding-left: 80px;
    padding-right: 78px;

    background-color: #ffffff;
  }
}

.contacts__text {
  margin: 0;

  font-family: $font-secondary;
  font-size: 16px;
  line-height: 125%;
  text-transform: uppercase;
  color: $text-color-base-special;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 130%;
  }
}

.contacts__address {
  font-style: normal;
  line-height: 143%;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 125%;
    text-align: right;
  }
}

.contacts__map {
  width: 320px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    width: $desktop-width;
  }
}

.contacts__map-image {
  display: block;
}
