.extra-products {
  padding-top: 25px;

  @media (min-width: $tablet-width) {
    padding-top: 74px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 896px 245px;
    grid-template-areas:
      "title    title"
      "products gift";
    gap: 80px;
    align-items: start;

    padding-top: 71px;
  }
}

.extra-products__title {
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    margin-bottom: 80px;
    margin-left: 40px;
  }

  @media (min-width: $desktop-width) {
    grid-area: title;

    margin-left: 0;
    margin-bottom: 0;
  }
}

.extra-products__list {
  box-sizing: border-box;

  margin: 0;
  padding: 0;
  margin-bottom: 34px;

  list-style: none;

  @media (min-width: $tablet-width) {
    margin-bottom: 69px;

    border-left: 1px solid $special-grey;
    border-right: 1px solid $special-grey;
  }

  @media (min-width: $desktop-width) {
    grid-area: products;
    border: none;
  }
}

.extra-products__gift {
  @media (min-width: $desktop-width) {
    grid-area: gift;
  }
}
