.extra-products {
  padding-top: 25px;

  @media (min-width: $tablet-width) {
    padding-top: 74px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 71px;
  }
}

.extra-products__wrapper {
  box-sizing: border-box;

  width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;

  outline: 1px solid #0000ff;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 896px 245px;
    grid-template-areas:
      "title    title"
      "products gift";
    gap: 80px;
    align-items: start;

    width: $desktop-width;
  }
}

.extra-products__title {
  margin-bottom: 36px;

  @media (min-width: $tablet-width) {
    margin-bottom: 80px;
  }

  @media (min-width: $desktop-width) {
    grid-area: title;
  }
}

.extra-products__list {
  box-sizing: border-box;

  margin: 0;
  padding: 0;
  margin-bottom: 35px;

  list-style: none;

  @media (min-width: $tablet-width) {
    border-left: 1px solid $special-grey;
    border-right: 1px solid $special-grey;
  }

  @media (min-width: $desktop-width) {
    grid-area: products;
    border: none;
  }
}

.extra-products__gift {
  @media (min-width: $desktop-width) {
    grid-area: gift;
  }
}
