.gift {
  display: grid;
  grid-template-areas: "space";
}


.gift__content {
  grid-area: space;
  order: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.gift__content::before {
  content: "";

  width: 78px;
  height: 81px;
  margin-top: 59px;
  margin-bottom: 48px;

  background-image: url("../../icons/stack.svg#icon-gift");
  background-repeat: no-repeat;
}

.gift__text {
  width: 162px;
  margin: 0;

  font-size: 16px;
  line-height: 125%;
  text-align: center;
  color: $text-color-accent;
}

.gift__image-wrapper {
  grid-area: space;
}

.gift__image {
  display: block;
}
