.gift {
  display: grid;
  grid-template-areas: "space";
}

.gift__content {
  grid-area: space;
  order: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;

  padding: 59px 58px 40px;

  @media (min-width: $tablet-width) {
    padding: 57px 125px 60px 77px;

    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    justify-content: start;
    gap: 46px;

    padding: 56px 40px 40px;
    // padding-bottom: 2px;
  }
}

.gift__content::before {
  content: "";

  width: 78px;
  height: 81px;

  background-image: url("../../icons/stack.svg#icon-gift");
  background-repeat: no-repeat;
}

.gift__text {
  margin: 0;

  font-size: 16px;
  line-height: 125%;
  text-align: center;
  color: $text-color-accent;

  @media (min-width: $tablet-width) {
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
  }
}

.gift__image-wrapper {
  grid-area: space;
}

.gift__image {
  display: block;
  width: 100%;
  height: 100%;
}
