.gift {
  background-image:
    linear-gradient(to bottom, $bg-second-2 0%, $bg-second-2 100%),
    image-set(
      url("../../images/gift-mobile@2x.webp") type("image/webp") 2x,
      url("../../images/gift-mobile@1x.webp") type("image/webp") 1x,
      url("../../images/gift-mobile@2x.png") type("image/png") 2x,
      url("../../images/gift-mobile@1x.png") type("image/png") 1x
    );
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;

  @media (min-width: $tablet-width) {
    background-image:
      linear-gradient(to bottom, $bg-second-2 0%, $bg-second-2 100%),
      image-set(
        url("../../images/gift-tablet@2x.webp") type("image/webp") 2x,
        url("../../images/gift-tablet@1x.webp") type("image/webp") 1x,
        url("../../images/gift-tablet@2x.jpg") type("image/jpg") 2x,
        url("../../images/gift-tablet@1x.jpg") type("image/jpg") 1x
      );
  }

  @media (min-width: $desktop-width) {
    background-image:
      linear-gradient(to bottom, $bg-second-2 0%, $bg-second-2 100%),
      image-set(
        url("../../images/gift-desktop@2x.webp") type("image/webp") 2x,
        url("../../images/gift-desktop@1x.webp") type("image/webp") 1x,
        url("../../images/gift-desktop@2x.jpg") type("image/jpg") 2x,
        url("../../images/gift-desktop@1x.jpg") type("image/jpg") 1x
      );
  }
}

.gift__content {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;

  padding: 58px 58px 43px;

  @media (min-width: $tablet-width) {
    padding: 57px 125px 61px 77px;

    flex-direction: row;
    align-items: start;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 46px;

    padding: 56px 40px 43px;
  }
}

.gift__content::before {
  content: "";

  width: 78px;
  height: 81px;

  background-image: url("../../icons/stack.svg#icon-gift");
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    width: 80px;
    height: 83px;

    margin-top: -1px;
    margin-left: 1px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
  }
}

.gift__text {
  width: 161px;
  margin: 0;
  margin-left: -2px;

  font-size: 16px;
  line-height: 125%;
  text-align: center;
  color: $text-color-accent;

  @media (min-width: $tablet-width) {
    margin-top: 14px;

    text-align: left;
  }

  @media (min-width: $desktop-width) {
    margin-top: 1px;
    margin-left: 2px;

    text-align: center;
  }
}
