.logo-second {
  display: flex;

  width: 128px;
  height: 25px;

  cursor: pointer;

  & path {
    fill: $logo-bg-default;
  }

  &:hover path,
  &:focus path {
    fill: $logo-bg-hover;
  }

  &:active path {
    fill: $logo-bg-active;
  }
}
