.page {
  font-family: $font-primary;
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  color: $special-dark-grey;
}

.page__title {
  margin: 0;

  font-family: $font-secondary;
  font-weight: 400;
  font-size: 36px;
  line-height: 100%;
  color: $text-color-base;
}
