.page {
  min-width: 320px;
  margin: 0;
  padding: 0;

  font-family: $font-primary;
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  color: $special-dark-grey;
}

.page--inner .page__content {
  @media (min-width: $desktop-width) {
    margin-top: 0;
  }
}

.page__headline {
  box-sizing: border-box;

  width: 320px;
  padding: 27px 20px 40px;
  margin-left: auto;
  margin-right: auto;

  outline: 1px solid #0000ff;
}

.page__title {
  margin: 0;

  font-family: $font-secondary;
  font-weight: 400;
  font-size: 36px;
  line-height: 100%;
  color: $text-color-base;
}

.page__content {
  @media (min-width: $desktop-width) {
    margin-top: -143px;
  }
}
