.page-footer {
  padding-top: 40px;
  padding-bottom: 40px;

  background-color: $bg-color-base;

  @media (min-width: $tablet-width) {
    padding-top: 55px;
    padding-bottom: 55px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 66px;
    padding-bottom: 66px;
  }
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }
}

.page-footer__logo {
  width: 128px;
  height: 25px;
}

.page-footer__line {
  width: 100%;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.page-footer__social {
  @media (min-width: $tablet-width) {
    width: 212px;
    margin-left: 160px;
  }

  @media (min-width: $desktop-width) {
    width: 340px;
    margin-left: 416px;
  }
}

.page-footer__copyright {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;

  color: inherit;
  font-size: 16px;
  line-height: 125%;

  text-decoration: none;
  cursor: pointer;

  &::after {
    content: "";

    width: 27px;
    height: 34px;

    background-color: $icon-bg;
    mask-image: url("../../icons/stack.svg#logo-academy");
    mask-repeat: no-repeat;
  }

  &:hover::after,
  &:focus::after {
    background-color: $icon-bg-hover;
  }

  &:active::after {
    background-color: $icon-bg-hover;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    width: auto;
    margin-left: auto;

    &::after {
      margin-left: 23px;
    }
  }
}

