.product-preview {
  position: relative;

  padding: 30px 20px 18px;

  background-color: $bg-color-base;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 340px 1fr;
    grid-template-areas:
      "title  ."
      "text   ."
      "button .";
    padding: 77px 53px 53px;
  }

  @media (min-width: $desktop-width) {
    display: block;
    padding-left: 52px;
    padding-right: 52px;
    padding-bottom: 55px;
  }
}

.product-preview::before {
  content: "";

  position: absolute;
}

.product-preview--theme-weight-gain::before {
  top: 24px;
  left: 13px;

  width: 67px;
  height: 50px;

  background-image: url("../../icons/stack.svg#weight-gain");
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    top: 91px;
    right: 29px;
    left: auto;

    width: 268px;
    height: 200px;
  }

  @media (min-width: $desktop-width) {
    top: 47px;
    left: 33px;
    right: auto;

    width: 134px;
    height: 100px;
  }
}

.product-preview--theme-weight-loss::before {
  top: 21px;
  left: 20px;

  width: 50px;
  height: 53px;

  background-image: url("../../icons/stack.svg#weight-loss");
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    top: 81px;
    right: 63px;
    left: auto;

    width: 200px;
    height: 211px;
  }

  @media (min-width: $desktop-width) {
    top: 41px;
    left: 52px;
    right: auto;

    width: 100px;
    height: 106px;
  }
}

.product-preview__title {
  margin: 0;
  margin-left: 71px;
  margin-bottom: 29px;

  font-family: $font-secondary;
  font-size: 24px;
  line-height: 154%;
  text-transform: uppercase;
  color: $text-color-base;

  @media (min-width: $tablet-width) {
    grid-area: title;

    margin-bottom: 24px;
    margin-left: 0;

    font-size: 36px;
    line-height: 100%;
  }

  @media (min-width: $desktop-width) {
    margin-left: 162px;
    margin-bottom: 73px;
  }
}

.product-preview__text {
  margin: 0;
  margin-bottom: 23px;

  @media (min-width: $tablet-width) {
    grid-area: text;

    margin-bottom: 48px;

    font-size: 16px;
    line-height: 150%;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 23px;
  }
}

.product-preview__link {
  margin-right: auto;

  @media (min-width: $tablet-width) {
    grid-area: button;
  }
}

.product-preview__line {
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
