.product-line {
  @media (min-width: $desktop-width) {
    padding-top: 82px;
  }
}

.product-line__list {
  display: flex;
  flex-direction: column;
  gap: 20px;

  margin: 0;
  padding: 0;

  list-style: none;

  @media (min-width: $tablet-width) {
    gap: 30px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(2, 570px);
    gap: 80px;
  }
}
