.product-extra {
  padding-top: 13px;
  padding-bottom: 19px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 263px;
    grid-template-areas:
      "title  params"
      "button button";
    gap: 20px 30px;

    padding: 26px 38px 28px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 286px 244px;
    grid-template-areas: "title params button";
    align-items: center;
    column-gap: 40px;
    padding: 15px 0 17px;
  }
}

.product-extra__title {
  margin: 0;
  margin-bottom: 13px;

  font-family: $font-secondary;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  text-transform: uppercase;
  color: $special-dark-grey-2;

  @media (min-width: $tablet-width) {
    grid-area: title;
    margin-bottom: 0;

    font-size: 20px;
  }
}

.product-extra__params {
  margin: 0;
  margin-bottom: 15px;

  // line-height: 100%;
  line-height: 143%;
  color: $special-dark-grey;

  @media (min-width: $tablet-width) {
    grid-area: params;
    margin-bottom: 0;

    font-size: 16px;
    line-height: 125%;
  }
}

.product-extra__params-item {
  display: grid;
  grid-template-columns: repeat(2, calc(100% / 2));
}

.product-extra__params-value {
  margin: 0;
  margin-left: 10px;

  text-align: right;
}

.product-extra__button {
  width: 100%;

  @media (min-width: $tablet-width) {
    grid-area: button;
  }
}
