.site-navigation {
  margin: 0;
  padding: 0;

  font-family: $font-secondary;
  font-size: 20px;
  line-height: 100%;
  text-transform: uppercase;

  list-style: none;
  background-color: $bg-basic-1;

  @media (max-width: $mobile-width-only) {
    &::after {
      content: "";

      position: absolute;
      right: 0;
      bottom: 0;
      z-index: -1;

      height: 100%;
      width: 100vw;

      background-color: $bg-basic-1;
      box-shadow: 100vw 0 $bg-basic-1;
    }
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 32px;

    font-size: 18px;
    line-height: 133%;

    background-color: transparent;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 100%;
  }
}

.site-navigation__item {
  @media (max-width: $mobile-width-only) {
    position: relative;

    &::after {
      content: "";

      position: absolute;
      right: 0;
      bottom: 0;

      height: 1px;
      width: 100vw;

      background-color: $border-fourth;
      box-shadow: 100vw 0 $border-fourth;
    }

    &:first-child {
      padding-top: 1px;

      &::before {
        content: "";

        position: absolute;
        right: 0;
        z-index: 5;
        top: 0;

        height: 1px;
        width: 100vw;

        background-color: $border-fourth;
        box-shadow: 100vw 0 $border-fourth;
      }
    }
  }
}

.site-navigation__link {
  $color: $text-color-base-2;

  display: inline-block;

  width: 100%;
  padding-top: 22px;
  padding-bottom: 24px;

  color: $color;
  text-decoration: none;
  text-align: center;

  cursor: pointer;

  @media (min-width: $tablet-width) {
    position: relative;

    padding: 0;
    padding-bottom: 10px;
    width: auto;

    &:not(.site-navigation__link--active):hover,
    &:not(.site-navigation__link--active):focus-visible {
      color: rgba($color, 0.6);
    }

    &:not(.site-navigation__link--active):active {
      color: rgba($color, 0.3);
    }
  }

  @media (min-width: $desktop-width) {
    $color: $text-color-accent;
    color: $color;

    &:not(.site-navigation__link--active):hover,
    &:not(.site-navigation__link--active):focus-visible {
      color: rgba($color, 0.6);
    }

    &:not(.site-navigation__link--active):active {
      color: rgba($color, 0.3);
    }
  }
}

.site-navigation--inner .site-navigation__link {
  @media (min-width: $desktop-width) {
    $color: $text-color-base-2;
    color: $color;

    &:not(.site-navigation__link--active):hover {
      color: rgba($color, 0.6);
    }
  }
}

.site-navigation__link--active {
  @media (min-width: $tablet-width) {
    position: relative;

    cursor: default;

    &::after {
      content: "";

      position: absolute;
      left: 0;
      right: 0;
      bottom: 1px;

      width: 100%;
      height: 2px;

      background-color: $border-special;
    }
  }

  @media (min-width: $desktop-width) {
    &::after {
      bottom: -3px;

      background-color: $border-accent;
    }
  }
}

.site-navigation--inner .site-navigation__link--active {
  &::after {
    background-color: $border-special;
  }
}
