.slider-compare {
  position: relative;

  height: 256px;

  outline: 1px solid green;
  background-color: $bg-color-base-special;
}

.slider-compare__image-wrapper {
  display: grid;
  grid-template: "compare" 1fr / 1fr;
  width: 100%;
  height: 100%;
}

.slider-compare picture {
  outline: 1px solid red;
  grid-area: compare;
}

.slider-compare picture:nth-child(1) {
  z-index: 2;
}

.slider-compare__image {
  display: block;
  height: 100%;
  max-width: fit-content;

  object-position: top left;
  object-fit: none;
  background-color: $bg-color-base-special;

  @media (min-width: $tablet-width) {
    background-image: linear-gradient(to bottom, #ffffff, #ffffff 30%, $bg-color-base-special 30%);
  }

  @media (min-width: $desktop-width) {
    background-image: linear-gradient(to bottom, #ffffff, #ffffff 26.5%, $bg-color-base-special 26.5%);
  }
}

.slider-compare__image--before {
  z-index: 1;
}

.slider-compare__scrubber-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3;

  width: 4px;
  height: 100%;

  background-color: $special-grey-3;

  &:focus-within,
  &:hover {
    background-color: $basic-green;
  }
}

.slider-compare__scrubber {
  position: absolute;
  z-index: 4;
  top: calc(50% - 20px);
  left: -(20px - 2px);

  width: 40px;
  height: 40px;

  background-image: url("../../icons/stack.svg#icon-scrubber");
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &:hover,
  &:focus-visible {
    background-image: url("../../icons/stack.svg#icon-scrubber-hover");
  }

  &:active {
    background-image: url("../../icons/stack.svg#icon-scrubber-active");
  }
}
