.subscribe {
  padding-top: 40px;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 96px;
    padding-bottom: 104px;
  }
}

.subscribe__wrapper {
  box-sizing: border-box;

  width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;

  outline: 1px solid #0000ff;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 632px 1fr;
    grid-template-areas:
      "title title title"
      ".     text  ."
      ".     form  .";
    gap: 24px;

    width: $tablet-width;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 752px 1fr;

    width: $desktop-width;
  }
}

.subscribe__title {
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    grid-area: title;

    margin-bottom: 42px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 48px;
  }
}

.subscribe__text {
  margin: 0;
  margin-bottom: 24px;

  font-family: $font-secondary;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: $text-color-base;

  @media (min-width: $tablet-width) {
    grid-area: text;

    margin-bottom: 0;

    font-size: 24px;
    line-height: 133%;
  }

  @media (min-width: $desktop-width) {
  }
}

.subscribe__form {
  @media (min-width: $tablet-width) {
    grid-area: form;
  }
}
