.subscribe {
  padding-top: 40px;
  padding-bottom: 40px;
}

.subscribe__wrapper {
  box-sizing: border-box;

  width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;

  outline: 1px solid #0000ff;
}

.subscribe__title {
  margin-bottom: 32px;
}

.subscribe__text {
  margin: 0;
  margin-bottom: 24px;

  font-family: $font-secondary;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: $text-color-base;
}

