.title {
  margin: 0;

  font-family: $font-secondary;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  color: $text-color-base;

  @media (min-width: $tablet-width) {
    font-size: 32px;
  }

  @media (min-width: $desktop-width) {
    font-size: 40px;
  }
}

.title--decorative-line {
  position: relative;

  width: fit-content;

  background-color: #ffffff;
  box-shadow: -40px 0 #ffffff, 40px 0 #ffffff;
}

.title--decorative-line::before {
  content: "";

  position: absolute;
  top: 42%;
  right: 0;
  z-index: -1;

  width: 100vw;
  height: 2px;

  box-shadow: 100vw 0 #68b738;

  @media (min-width: $tablet-width) {
    background-color: #68b738;
  }
}
